
<!-- Subscription Box -->

<div class="subscribe-label">

   <p id="label-para-1">DISCOVER THE ART OF TRAVELLING ANYWHERE YOU WANT</p>

   <p id="label-para-2">Join the <strong>FREE</strong> weekly newsletter for exclusive tips, advice and money saving deals</p>

   <div class="subscription_form">
       
       <input type="text" placeholder="First Name" id="text-box">

       <input type="email" placeholder="Email" id="email-box">

       <select id="countries">
            
            <option value="select">Where are you from ?</option>
            <option value="Afganistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Argentina">Argentina</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Belgium">Belgium</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Great Britain">Great Britain</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Korea North">Korea North</option>
            <option value="Korea Sout">Korea South</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Midway Islands">Midway Islands</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands (Holland, Europe)</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Phillipines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Qatar">Qatar</option>
            <option value="Russia">Russia</option>
            <option value="Singapore">Singapore</option>
            <option value="South Africa">South Africa</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Turkey">Turkey</option>
            <option value="United Arab Erimates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States of America">United States of America</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
            <option value="Wake Island">Wake Island</option>
            <option value="Yemen">Yemen</option>
            <option value="Zaire">Zaire</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
           


       </select>

      <input type="button" value="GET TRAVEL TIPS" id="submit-form">
      

   </div>

</div>

<!-- Latest Blog Posts -->



<div class="blog_posts">



    <div id="blog_post_title">

        <p id="latest_blogs_title" class="inset-text-effect">LATEST BLOG POSTS</p>

    </div> 

    <div class="blog_post_stuffs">
    
    <% @posts.each do |post| %>
        
        <div class="post">

            <%= image_tag('image2.jpg', :width => 300, :height => 200, :alt => 'post_image') %>
            <h2 class="title"><%= link_to post.title, post %></h2>
            <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
            <p class="post_body"><%= truncate(post.body, :length => 150) %></p>
            <br>
            <p id="read_post"><%= link_to 'READ MORE', post %></p>

        </div>   

    <% end %>

   </div> 


 <div class="new_post"><%= link_to "Post your own travel experience!", new_post_path %></div>

</div>




<!-- Popular travel tips -->

      <div class="post-title">

            <p class="paragraph-title">MOST POPULAR TRAVEL TIPS</p>

      </div>

      <div class="travel-tips">

            <div class="container">

                  <div class="ultimate-guide">

                      <p class="paragraph-tips">

                        <p id="firstpara">THE ULTIMATE GUIDE</p>
                        <p id="lastpara">TO TRAVELLING</p>

                      </p>

                       <%= link_to(image_tag("imagee4.jpg", :alt => 'ug-image', :class => 'gallery-images', :id => 'image_ug'),  root_path ) %>
                       <div class="overlay-tips1"></div>

                   </div>

            </div>

      

            <div class="container">

                  <div class="travel-insurance">
                  
                        <p id="firstpara">HOW TO BUY GOOD</p>
                        <p id="lastpara">TRAVEL INSURANCE</p>
                        <%= link_to(image_tag("nm-image4.jpg", :alt => 'ug-image', :class => 'gallery-images',  :id => 'image_ug'),  root_path ) %>
                        
                  </div>

            </div>

     
            <div class="container">
        

                  <div class="cheap-flight">

                        <p id="firstpara">HOW TO FIND</p>
                        <p id="lastpara">A CHEAP FLIGHT</p>
                        <%= link_to(image_tag("nm-image3.jpg", :alt => 'ug-image', :class => 'gallery-images',  :id => 'image_ug'),  root_path ) %>
                        
                  </div>
            
            
             </div>


            <div class="container">

                  <div class="travel-awesome">

                        <p id="firstpara">WHY TRAVEL MAKES</p>
                        <p id="lastpara">YOU AWESOME</p>
                        <%= link_to(image_tag("image1.jpg", :alt => 'ug-image', :class => 'gallery-images',  :id => 'image_ug'),  root_path ) %>
                        
                  </div>

            </div>



            <div class="container">

                  <div class="running">

                        <p id="firstpara">EVERYONE SAYS I'M</p>
                        <p id="lastpara">RUNNING AWAY</p>
                        <%= link_to(image_tag("nm-image1.jpg", :alt => 'ug-image', :class => 'gallery-images',  :id => 'image_ug'),  root_path ) %>
                        
                  </div>

            
             </div>
 
             <div class="container">
            

                  <div class="travel-creditcard">

                        <p id="firstpara">PICKING A</p>
                        <p id="lastpara">TRAVEL CREDIT CARD</p>
                        <%= link_to(image_tag("nm-image7.jpg", :alt => 'ug-image', :class => 'gallery-images',  :id => 'image_ug'),  root_path ) %>
                        
                  </div>
            
            
             </div>

   </div>


   <!-- Gallery with modal and slider -->

    <div class="post-title">

      <p class="paragraph-title">GALLERY</p>

   </div>

   <div class="gallery-container">

      <!-- Section 1--> 
         
         <div class="section section-1">


            <div class="column-1">


                 <div class="small image-1">

                     <img src="assets/gallery-image1.jpg">
                     <div class="image-overlay"><p>Tshangu Lake, Gangtok, India</p></div>
                  
                 </div>

                 <div class="small image-2">

                    <img src="assets/gallery-image2.jpg">
                    <div class="image-overlay"><p>The Petronas Towers, Malaysia</p></div>

                 </div>


            </div>


            <div class="column-2">

                <div class="normal image-3">

                    <img src="assets/gallery-image3.jpg">
                    <div class="image-overlay"><p>The Eiffel Tower, Paris, Italy</p></div>

                </div>

            </div>


         </div>

      <!-- Section 2 -->

         <div class="section section-2"> 

            <div class="column-3">

               <div class="section section-3">

                    <div class="column-4">

                          <div class="large image-4">

                                  <img src="assets/gallery-image4.jpg">
                                  <div class="image-overlay"><p>The Infinity Tower, Dubai</p></div>

                          </div>

                    </div>


                    <div class="column-5">

                          <div class="small image-5">

                                    <img src="assets/gallery-image5.jpg">
                                    <div class="image-overlay"><p>Dal Lake, Srinagar, India</p></div>

                          </div>

                          <div class="small image-6">

                                   <a href="#img6"><img src="assets/gallery-image6.jpg"></a>
                                   <div class="image-overlay"><p>The Andaman Islands, India</p></div>

                          </div>



                    </div>

                 


               </div>

               <div class="normal image-7">

                       <img src="assets/gallery-image7.jpg">
                       <div class="image-overlay"><p>Agra Fort, India</p></div>

               </div>


            </div>


           

         <div class="column-6">

             <div class="small image-8">

                       <img src="assets/gallery-image8.jpg">
                       <div class="image-overlay"><p>Taj Mahal, Agra, India</p></div>

             </div>

             <div class="large image-9">
                   
                       <img src="assets/gallery-image9.jpg">
                       <div class="image-overlay"><p>CN Tower, Canada</p></div>

             </div>

             <div class="small image-10">
                  
                  <img src="assets/gallery-image10.jpg">
                  <div class="image-overlay"><p>Merlion Park, Singapore</p></div>
                  
             </div>


         </div>


    </div>


 </div>

  <!-- footer-->

<footer>

 <div class="footer_stuffs">

  <div class="about_footer"><p>ABOUT</p>

     <ul>

        <li><%= link_to 'About Travelogue', root_path, :id => "about_submenu"%></li>
        <li><%= link_to 'Contact', root_path, :id => "contact_submenu"%></li>
        <li><%= link_to 'Privacy Policy', root_path, :id => "privacy_submenu"%></li>

     </ul>

    </div>

    <div class="travel_tips_footer"><p>TRAVEL TIPS</p>

     <ul>

        <li><%= link_to 'Start Here', root_path, :id => "start_submenu"%></li>
        <li><%= link_to 'Travel Blog', root_path, :id => "blog_submenu"%></li>
        <li><%= link_to 'Destination Guides', root_path, :id => "destination_submenu"%></li>

     </ul>
     
    </div>

    <div>

        <div class="search_footer"><p>SEARCH</p>

           <input type="text" id="input_footer" placeholder="   Where do you want to go today?">
        
        </div>

        <div class="followme_footer">

            <p>FOLLOW ME ON THE WEB</p>

            <span class="round_thumbnail"><a href="#"><i class="fa fa-twitter icons_footer" aria-hidden="true" class ="fa_icon"></i></a></span>
            <span class="round_thumbnail"><a href="#"><i class="fa fa-instagram icons_footer" aria-hidden="true" class ="fa_icon"></i></a></span>
            <span class="round_thumbnail"><a href="#"><i class="fa fa-facebook-official icons_footer" aria-hidden="true" class ="fa_icon"></i></a></span>
            <span class="round_thumbnail"><a href="#"><i class="fa fa-envelope icons_footer" id="envelope" aria-hidden="true" class="fa_icon"></i></a></span>

        
        </div>

    </div>

   </div> 

    <div class="copyright">&copy; 2016 | Travelogue</div>


</footer>