

<!DOCTYPE html>
<html>
<head>
  <title>Travelogue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</script>

</head>

<body>


<div class="header_image">
    
    <div class="logo"><p>TRAVELOGUE</p></div>

</div>

<!-- navigation bar-->

<nav>
         
        <ul>

          <li class="menu"><%= link_to 'START HERE', root_path, :id => "anchor_menu"%>
             
             <ul class="dropdown">

                  <li><%= link_to 'GET INSPIRED', root_path, :id => "anchor_submenu"%></li>
                  <li><%= link_to 'HOW TO SAVE FOR TRIP', root_path, :id => "anchor_submenu"%></li>
                  <li><%= link_to 'FIND CHEAP AIRFARE', root_path, :id => "anchor_submenu"%></li>
                  <li><%= link_to 'CHEAP ACCOMODATION', root_path, :id => "anchor_submenu"%></li>
                  <li><%= link_to 'COUPLES TRAVEL', root_path, :id => "anchor_submenu"%></li>


             </ul>
          
          
          </li>

          <li class="menu"><%= link_to 'TRAVEL', root_path, :id => "anchor_menu" %></li>

          <li class="menu"><%= link_to 'BLOG', root_path, :id => "anchor_menu" %></li>

          <li class="menu"><%= link_to 'DESTINATIONS', root_path, :id => "anchor_menu" %></li>

          <li class="menu"><%= link_to 'ABOUT', root_path, :id => "anchor_menu" %></li>

          <li class="menu"><%= link_to 'GUIDES', root_path, :id => "anchor_menu" %></li>

          <li class="menu"><%= link_to 'CONTACT',root_path, :id => "anchor_menu" %></li>

        </ul>

        <input type="text" placeholder="Search destinations" id="search_input">
        
        <i class="fa fa-search" aria-hidden="true" id="search"></i>
		 
	

</nav>





  


<!--<%= link_to "New Post", new_post_path %>-->

<%= yield %>

</body>
</html>

