<!DOCTYPE html>
<html>
<head>
  <title>Travelogue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Titillium+Web' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="header_image">
    
    <div class="logo"></div>

</div>

<!-- navigation bar-->

<nav>
         
        <ul>

          <li><%= link_to 'START HERE', root_path %></li>
          <li><%= link_to 'TRAVEL', root_path %></li>
          <li><%= link_to 'BLOG', root_path %></li>
          <li><%= link_to 'DESTINATIONS', root_path %></li>
          <li><%= link_to 'ABOUT', root_path %></li>
          <li><%= link_to 'GUIDES', root_path %></li>
          <li><%= link_to 'CONTACT',root_path %></li>

        </ul>

        <input type="text" placeholder="  Search destinations" id="search_input">
        
        <i class="fa fa-search" aria-hidden="true" id="search"></i>
		 
	

</nav>

<!-- Subscription Box -->

<div class="subscribe-label">

   <p id="label-para-1">DISCOVER THE ART OF TRAVELLING ANYWHERE YOU WANT</p>

   <p id="label-para-2">Join the <strong>FREE</strong> weekly newsletter for exclusive tips, advice and money saving deals</p>



</div>

<!-- Latest Blog Posts -->

<div class="blog_posts">


   <p id="latest_blogs_title">LATEST BLOG POSTS</p>
 
   <div class="post1">
        
        <%= image_tag('image2.jpg', :width => 300, :height => 200, :alt => 'post_image') %>

        <div id="paragraph"><p>Lorem ipsum dolor sit amet, ne nam quaeque invenire, cum utinam adolescens ut, sit graece aeterno eu. Vim accumsan apeirian an. Per duis viris ut, cu denique invidunt gloriatur sea. Cum ei cetero definitionem conclusionemque. Vim cu dolorum deterruisset, at mea </p></div>

        <p id="read_post">Read More ></p>



   </div>

   <div class="post2">

        <%= image_tag('image7.jpg', :width => 300, :height => 200, :alt => 'post_image') %>
        <div id="paragraph"><p>Lorem ipsum dolor sit amet, ne nam quaeque invenire, cum utinam adolescens ut, sit graece aeterno eu. Vim accumsan apeirian an. Per duis viris ut, cu denique invidunt gloriatur sea. Cum ei cetero definitionem conclusionemque. Vim cu dolorum deterruisset, at mea </p></div>

        <p id="read_post">Read More ></p>

   </div>


   <div class="post3">

        <%= image_tag('image9.jpg', :width => 300, :height => 200, :alt => 'post_image') %>
        <div id="paragraph"><p>Lorem ipsum dolor sit amet, ne nam quaeque invenire, cum utinam adolescens ut, sit graece aeterno eu. Vim accumsan apeirian an. Per duis viris ut, cu denique invidunt gloriatur sea. Cum ei cetero definitionem conclusionemque. Vim cu dolorum deterruisset, at mea </p></div>

        <p id="read_post">Read More ></p>

   </div>




</div>




<!--<%= link_to "Home", root_path %>
<%= link_to "New Post", new_post_path %>-->

<%= yield %>

</body>
</html>
